.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/.venv/
**/venv/
.env
*.log
*.zip
*.tar
*.tar.gz
solution/
tests/
**/beacon.queue
**/runner.fold
**/*~
**/*.swp
**/.DS_Store
**/cases_work/
app/panel/cases/
**/panel/cases/
.idea/
.vscode/
